.container{
    margin: auto;
    width: 1280px;
}

.logo1{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo2{
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu_top{
    display: flex;
    border-left: solid 1px white;
}

.menu_top li{
    border-right: solid 1px white;
    display: inline-block;
}

.menu_top a{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-right: 32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 18px;
}

.menu_top a:hover{
    background-color: #222F3A;
}

main{
    display: flex;
    justify-content: space-between;
}

aside{
    border: 1px solid black;
    width: 344px;
    height: 405px;
}

.sidemenu{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside a{
    display: block;
    padding: 27px 44px;
    color: #495863;
}

aside li{
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

aside a:hover{
    color: #000;
    background-color: #DBDBDB;
    padding-left: 55px;
}

.main_article{
    width: 885px;
    height: 832px;
}

.main_image{
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.main_image img{
    width: 320px;
    height: 381px;
    transition: 1s;
}

.main_image img:hover{
    transform: scale(1.2);
}

.main_text{
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text1{
    padding-bottom: 13px;
}

.foot_menu{
    height: 69px;
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
}

.bottom_menu{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.bottom_menu li{
    margin-top: 20px;
}

.bottom_menu a{
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.foot_menu div{
    width: 875px;
}

.foot_menu p{
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 40px;
    margin-top: 20px;
}

.bottom_menu a:hover{
    color: #3181A6;
}